<div class="easyui-tabs">
    <div title="Produtos e Serviços" style="padding:8px;">
        <fieldset>
            <label for="natOp" class="width-80 align-right">Base ICMS</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">ICMS</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">Base ICMS ST</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">ICMS ST</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 clear align-right">Importações</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">PIS</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">IPI</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">COFINS</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 clear align-right">Mercadoria</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">Frete</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">Seguro</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">Desconto</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 clear align-right">Outros</label>
            <input type="text" class="width-80" />
                                            
            <label for="natOp" class="width-80 align-right">Total</label>
            <input type="text" class="width-80" />
        </fieldset>
        
        <div class="easyui-tabs">
            <div title="ICMS" style="padding:8px;">
            </div>
            <div title="IPI" style="padding:8px;">
            </div>
            <div title="PIS" style="padding:8px;">
            </div>
            <div title="COFINS" style="padding:8px;">
            </div>
            <div title="Importação" style="padding:8px;">
            </div>
            <div title="ISSQN" style="padding:8px;">
            </div>
        </div>
    </div>
    <div title="Pagamentos" style="padding:8px;">
        
    </div>
    <div title="Transporte" style="padding:8px;">
        
    </div>
</div>

<script type="text/javascript" src="../../Scripts/jquery-plugins/jquery-easyui-1.2.4/jquery.easyui.min.js"></script>